@font-face {
    font-family: "Incosolata";
    src: url(Inconsolata.otf);
}

body {
   font: 30px Incosolata, Zapf Chancery, cursive;
   /*background: url("http://thumbs.dreamstime.com/x/smoke-seamless-vector-pattern-texture-white-background-53936305.jpg");
   background-repeat: repeat;*/
   background: whitesmoke;
   background-size:cover;
  }

a{
	color:whitesmoke;
	text-decoration:none;
}

a:hover{
	color:whitesmoke;
	text-decoration:none;
}

.form-group{
margin-top:5px;
margin-bottom:5px;
}


#loginForm{
	position:relative;
	float:right;
	margin-right:50px;
	margin-top:-60px;
	width:200px;
	height:10px;
	font-size:11px;
}

#loginInf{
	position:relative;
	float:right;
	margin-right:30px;
	margin-top:-40px;
	width:300px;
	height:10px;
	font-size:20px;
}

#main {
   height: 600px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
}

  h1,h2,h3,h4,h5,h6{
    text-align: center;
  }

  #main > article {
   margin: 16px;
   padding: 10px;
   border: 1px solid #1A1A1A;
   background:#2B333D;
   -webkit-flex: 3 1 40%;
           flex: 3 1 40%;
   -webkit-order: 3;
           order: 3;
   border-radius: 10px;
   color:white;
   }

   #main > article:hover {
		background:rgba(70, 90, 140, 0.8);;
    border-radius: 10px;
   }


  #main > #nav1 {
   margin: 16px;
   padding: 10px;
   border: 1px solid #FFFFFF;
   background:#2B333D;
   color:#FFFFFF;
   -webkit-flex: 1 6 30%;
           flex: 1 6 30%;
   -webkit-order: 2;
           order: 2;
   overflow: scroll;
   overflow-x: hidden;
   border-radius: 10px;
   }

   #main>#nav1:hover{
		background:rgba(70, 90, 140, 0.8);
    border-radius: 10px;
   }

  #main > #nav2 {
   margin: 16px;
   padding: 10px;
   border: 1px solid #FFFFFF;
   background:#2B333D;
   color:#FFFFFF;
   -webkit-flex: 1 6 30%;
           flex: 1 6 30%;
   -webkit-order: 1;
           order: 1;
   overflow: scroll;
   overflow-x: hidden;
   border-radius: 10px;
   }

   #main>#nav2:hover{
		background:rgba(70, 90, 140, 0.8);
   }

  header {
   display: block;
   text-align: center;
   margin: 16px;
   padding: 10px;
   min-height: 150px;
   border: 1px solid #FFFFFF;
   border-radius: 7pt;
   background: #fca326;
   color: #FFFFFF;
   }

   footer {
   display: block;
   text-align: center;
   margin: 16px;
   padding: 10px;
   min-height: 50px;
   border: 1px solid #FFFFFF;
   border-radius: 7pt;
   background: #4D4D4D;
   color:#FFFFFF;
   }

  header:first-letter, footer:first-letter{
    font-size: 160%;
  }
  /* Too narrow to support three columns */
  #nameNewSond{
	color:white;
	width:100%;
 }
 .icones{
 cursor:pointer;
 }
  @media all and (max-width: 640px) {

  header, footer {
  background: #4D4D4D;
  min-height: 60px;
  }

   #main, #page {
    -webkit-flex-flow: column;
            flex-flow: column;
            flex-direction: column;
   }

   #main > article, #main > #nav1, #main > #nav2 {
    /* Return them to document order */
    -webkit-order: 0;
            order: 0;
   }

   #main > #nav1, #main > #nav2, header, footer {
    min-height: 150px;
   }
  }

input {
  color:black;
}

#btn_rep {
  position:absolute;
  top:50px;
  left:50px;
}