body {
	background-color: #2B333D;
	color:white;
}

.marged {
	margin-top: 200px;
}

#container_questions div p {
	font-size: 1.5em;
}

#container_questions {
	//overflow:scroll;	
}

a, a:hover {
	color:white;
	font-size:1.5em;
}

h2 {
	padding-top: 50px;
}

#timer {
	position:absolute;
	font-size:2em;
	top:100px;
	right:30px;
}

#sidebar {
	overflow:scroll;
}