<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
<link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="static/css/bootstrap/css/bootstrap-theme.css">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/signin.css')}}"/>
    <script src="{{
      url_for('static', filename='js/jquery.min.js')
    }}">
    </script>
  </head>
 <body>
<div class="col-md-3"></div>
<div style="margin-top:300px" id="main" class="container theme-showcase col-md-6" role="main">
<form class="form-horizontal signinform" role="form" method="POST" action="/signin">
{{ form.hidden_tag() }}
<div class="form-group">
	<label for="username" class="col-sm-4 control-label">Login</label>
	<div class="col-sm-8">
		{{ form.username(size=25,class_="form-control",placeholder="Username") }}
	</div>
</div>
<div class="form-group">
<label for="password" class="col-sm-4 control-label">{{ form.password.label }} </label>
	<div class="col-sm-8">
		{{ form.password(size=25,class_="form-control",placeholder="Password") }}
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-info">
      Sign in
    </button>
	</div>
</div>
</form>
</div>
</body>
</html>
